body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  background: #2d3436;
}

@media (max-width: 500px) {
  body {
    font-size: 0.9em;
  }

  #line {
    width: 80%;
    margin: 50px auto;
    border-bottom: 1px solid white;
  }
}

@media (min-width: 500px) {

  #line {
    width: 80%;
    margin: 50px auto;
    border-bottom: 1px solid white;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: #fdcb6e;
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 10px 0;
}

#title {
  letter-spacing: 5px;
}

#subtext {
  color: #55efc4;
  font-weight: normal;
  letter-spacing: 5px;
}

#instruction {
  color: #55efc4;
  letter-spacing: 5px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#react-logo {
  background: url('https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: rotate 5s linear infinite;
  height: 70px;
  width: 70px;
  margin: 15px auto;
}

#information {
  width: 100%;
  margin: 0 auto;
}

.link {
  color: #fdcb6e;
  text-decoration: none;
  border-radius: 3px;
  margin: 0 2px;
}

.link:hover {
  color: #55efc4;
}

#footer {
  color: #fdcb6e;
  margin-top: 50px;
}
